[user]
	name = Shunsuke KITADA
	email = {{ .email | quote }}
	signingkey = D55D775A7951407C
[color]
	ui = auto
[url "git@github.com:"]
	pushinsteadof = https://github.com/
[pager]
	branch = cat
	config = cat
[ghq]
	root = ~/.local/share
	root = ~/ghq
[commit]
	gpgsign = true
[pull]
	rebase = true
[core]
	quotepath = false
[rebase]
	autoStash = true
{{ if eq .chezmoi.os "linux" -}}
[credential]
	credentialStore = cache
{{ end -}}
[credential "https://github.com"]
    helper =
    helper = !gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !gh auth git-credential
