[distutils]
index-servers =
  pypi
  pypitest

[pypi]
repository=https://pypi.python.org/pypi
username=shunk031
password=PASSWORD

[pypitest]
repository=https://test.pypi.org/legacy/
username=shunk031
password=PASSWORD