#!/usr/bin/env bash

set -Eeuox pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

function remove_encrypted_files() {
    # rm -vf {{ .chezmoi.sourceDir }}/private_dot_ssh/encrypted_*
    # ls {{ .chezmoi.sourceDir }}/private_dot_ssh

    chezmoi forget "{{ .chezmoi.sourceDir }}/.ssh/encrypted_age_test.txt.age"
}

function main() {
    if "${CI:-false}"; then
        remove_encrypted_files
    fi
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
