#!/usr/bin/env bash

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -Eeuox pipefail
fi

function run_ssh_keygen() {
    local email="$1"
    local output_keyfile_path="${HOME%/}/.ssh/id_ed25519"

    if [ ! -e "${output_keyfile_path}" ]; then
        ssh-keygen -q -t ed25519 -C "\"${email}\"" -N "" -f "${output_keyfile_path}"
        #           │  │          │                 │     └─ keyfile
        #           │  │          │                 └─ new_passphrase
        #           │  │          └─ comment
        #           │  └─ Specify the type of key to create
        #           └─ Silence `ssh-keygen`
    else
        echo "File ${output_keyfile_path} already exists."
    fi
}

function main() {
    local email="$1"

    run_ssh_keygen "${email}"
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main "{{ .email }}"
fi
