#!/usr/bin/env bash

set -Eeuox pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

function remove_encrypted_files() {
    rm -fv "{{ .chezmoi.sourceDir }}/private_dot_ssh/encrypted_*"

    ls "{{ .chezmoi.sourceDir }}/private_dot_ssh"
}

function main() {
    remove_encrypted_files
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
