#!/usr/bin/env bash

set -Eeuo pipefail

if [ "${DOTFILES_DEBUG:-}" ]; then
    set -x
fi

function decrypt_age_private_key() {
    local age_dir
    local age_src_key
    local age_dst_key

    if "${CI:-false}"; then
        # age is currently required tty. The CI does not have tty so return early
        return 0 # early return
    fi
    
    age_dir="${HOME}/.config/age"
    age_src_key="{{ .chezmoi.sourceDir }}/.key.txt.age"
    age_dst_key="${age_dir}/key.txt"

    if [ ! -f "${age_dst_key}" ]; then
        mkdir -p "${age_dir}"

        echo "Decrypting ${age_src_key} to ${age_dst_key}"
        chezmoi age decrypt --output "${age_dst_key}" --passphrase "${age_src_key}"
        chmod 600 "${age_dst_key}"
    fi
}

function main() {
    decrypt_age_private_key
}

if [[ "${BASH_SOURCE[0]}" == "${0}" ]]; then
    main
fi
