{{- /* 

    Choices: client and server

    macos, ubuntu (client) -> client 
    ubuntu (server) -> server

*/ -}}

{{ include "dot_tmux.conf.d/common.conf" }}
{{ if eq .system "client" -}}
{{   include "dot_tmux.conf.d/system/client.conf" }}
{{   if eq .chezmoi.os "darwin" -}}
{{     include "dot_tmux.conf.d/os/macos.conf" }}
{{   else if eq .chezmoi.os "linux" -}}
{{     if eq .chezmoi.osRelease.idLike "debian" -}}
{{       include "dot_tmux.conf.d/os/ubuntu_client.conf" }}
{{     else -}}
{{       fail (printf "Unknown Linux OS: %s" .chezmoi.osRelease.idLike) }}
{{     end -}}
{{   end -}}
{{ else if eq .system "server" -}}
{{   include "dot_tmux.conf.d/system/server.conf" }}
{{   if eq .chezmoi.os "linux" -}}
{{     if eq .chezmoi.osRelease.idLike "debian" -}}
{{       include "dot_tmux.conf.d/os/ubuntu_server.conf" }}
{{     else -}}
{{       fail (printf "Unknown Linux OS: %s" .chezmoi.osRelease.idLike) }}
{{     end -}}
{{   end -}}
{{ else -}}
{{   fail (printf "Unknown system type: %s" .system) }}
{{ end -}}
