{{- /* 

    Choices: client and server

    macos, ubuntu (client) -> client 
    ubuntu (server) -> server

*/ -}}

{{ if eq .system "client" -}}
{{   include "dot_tmux.conf.d/system/client.conf" }}
{{ else if eq .system "server" -}}
{{   include "dot_tmux.conf.d/system/server.conf" }}
{{ else -}}
{{   fail (printf "Unknown system type: %s" .system) }}
{{ end -}}
