".emacs.d":
  type: "git-repo"
  url: "https://github.com/syl20bnr/spacemacs"
  refreshPeriod: "720h"

{{ $fontsPath := .chezmoi.os | replace "darwin" "Library/Fonts" | replace "linux" ".local/share/fonts" -}}
"{{ $fontsPath }}/RobotoMono":
  type: "archive"
  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "RobotoMono.zip" | quote }}
  refreshPeriod: "720h"

"{{ $fontsPath }}/Hack":
  type: "archive"
  url: {{ gitHubLatestReleaseAssetURL "ryanoasis/nerd-fonts" "Hack.zip" | quote }}
  refreshPeriod: "720h"
