{{ $fontsPath := .chezmoi.os | replace "darwin" "Library/Fonts" | replace "linux" ".local/share/fonts" -}}

"{{ $fontsPath }}/LINESeed":
  type: "archive"
  url: "https://seed.line.me/src/images/fonts/LINE_Seed_JP.zip"
  refreshPeriod: "168h"
  stripComponents: 3
  include: ["**/LINESeedJP_OTF_*.otf"]

{{ $deltaVersion := (gitHubLatestTag "dandavison/delta").Name }}
{{ $arch := .chezmoi.arch | replace "amd64" "x86_64" | replace "arm64" "aarch64" -}}
".local/bin/delta":
  type: archive-file
  url: {{ gitHubLatestReleaseAssetURL "dandavison/delta" (printf "delta-%s-%s-unknown-linux-gnu.tar.gz" $deltaVersion $arch) | quote }}
  path: "./delta"
  executable: true  
  refreshPeriod: 168h
