".local/bin/eza":
  type: "archive-file"
  url: {{ gitHubLatestReleaseAssetURL "eza-community/eza" (printf "eza_%s-unknown-linux-gnu.tar.gz" .chezmoi.arch) | quote }}
  path: "./eza"
  executable: true  
  refreshPeriod: 168h
