".local/bin/eza":
  type: archive-file
  url: https://github.com/eza-community/eza/releases/download/{{ (gitHubLatestRelease "eza-community/eza").TagName }}/eza_{{$rustArch}}-unknown-linux-gnu.tar.gz
  path: ./eza
  refreshPeriod: 168h
  executable: true
