{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.idLike "debian" -}}
{{     include "../install/ubuntu/common/tmux.sh" }}
{{   else if eq .chezmoi.osRelease.id "rocky" -}}
{{     include "../install/rocky/common/tmux.sh" }}
{{   end -}}
{{   if eq .system "client" -}}
{{     include "../install/common/tpm.sh" }}
{{   end -}}
{{ end -}}
