{{ if eq .chezmoi.os "linux" -}}
{{   if eq .chezmoi.osRelease.idLike "debian" -}}
{{     if eq .system "server" -}}
{{       include "../install/ubuntu/server/starship.sh" }}
{{     end -}}
{{   end -}}
{{ end -}}
