{{ include "dot_config/exact_sheldon/plugin_sources/common.toml" }}
{{- if eq .system "client" }}
{{- include "dot_config/exact_sheldon/plugin_sources/client/common.toml" }}
{{-   if eq .chezmoi.os "darwin" }}
{{      include "dot_config/exact_sheldon/plugin_sources/client/macos.toml" }}
{{-   else if eq .chezmoi.os "linux" }}
{{      include "dot_config/exact_sheldon/plugin_sources/client/ubuntu.toml" }}
{{-   else }}
{{      fail (printf "Unknown OS for client system: %s" .chezmoi.os) }}
{{-   end }}
{{- else if eq .system "server" }}
{{    include "dot_config/exact_sheldon/plugin_sources/server.toml" }}
{{- else }}
{{    fail (printf "Unknown system type: %s" .system) }}
{{- end -}}

# zsh-syntax-highlighting must be the last eagerly sourced plugin so it can
# wrap every widget and hook defined by the eager plugins above. Deferred
# plugins remain queued for later initialization by zsh-defer.
[plugins.zsh-syntax-highlighting]
github = 'zsh-users/zsh-syntax-highlighting'
apply = ['source']
