name: MacOS

on:
  push:
  schedule:
    - cron: "0 0 * * 5"

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Install shellcheck
        run: brew install shellcheck

      - name: Run shellcheck
        run: ./tests/shellcheck.sh

      - name: Setup dotfiles
        run: bash setup.sh
