name: MacOS

on:
  push:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'Makefile'
      - 'Dockerfile'
      - 'install/ubuntu/**'
      - '.chezmoiscripts/ubuntu/**'
      - 'dot_tmux.conf.d/os/ubuntu.conf'
      - 'tests/install/ubuntu/**'
      
  pull_request:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'Makefile'
      - 'Dockerfile'
      - 'install/ubuntu/**'
      - '.chezmoiscripts/ubuntu/**'
      - 'dot_tmux.conf.d/os/ubuntu.conf'
      - 'tests/install/ubuntu/**'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - name: Setup dotfiles
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          DOTFILES_DEBUG: 1
          EVENT_NAME: ${{ github.event_name }}
        run: |
          if [ "${EVENT_NAME}" == "push" ]; then
            branch_name="${{ github.ref_name }}"
          elif [ "${EVENT_NAME}" == "pull_request" ]; then
            branch_name="${{ github.head_ref }}"
          fi

          URL="https://raw.githubusercontent.com/shunk031/dotfiles/${branch_name}/setup.sh"
          echo "Download setup.sh from ${URL}"
          
          printf '${EMAIL_ADDRESS}\n' | bash -c "$(curl -fsLS $URL)"
          #              │
          #              └─ Simulate inputting an email address into the chezmoi's config.

      - name: Run benchmark
        run: ./benchmarks/scripts/benchmark.sh > result.json

      - name: Dump result.json
        run: cat result.json
      
