name: Ubuntu

on:
  push:
    branches: [master]
    paths:
      - ".github/workflows/ubuntu.yaml"
      - "setup.sh"
      - "install/ubuntu/**"
      - ".chezmoiscripts/ubuntu/**"
      - "dot_tmux.conf.d/os/ubuntu.conf"
      - "tests/install/ubuntu/**"

  pull_request:
    branches: [master]
    paths:
      - ".github/workflows/ubuntu.yaml"
      - "setup.sh"
      - "install/ubuntu/**"
      - ".chezmoiscripts/ubuntu/**"
      - "dot_tmux.conf.d/os/ubuntu.conf"
      - "tests/install/ubuntu/**"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    strategy:
      matrix:
        system: [server, client]

    runs-on: ubuntu-latest
    env:
      DOTFILES_DEBUG: 1
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Set up SSH agent and add the private deploy key for the private dotfiles repo
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.PRIVATE_DOTFILES_PRIVATE_DEPLOY_KEY }}

      - name: Setup dotfiles
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          SYSTEM: ${{ matrix.system }}
          EVENT_NAME: ${{ github.event_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for avoiding rate limit of GitHub API
        run: |
          if [ "${EVENT_NAME}" == "push" ]; then
            BRANCH_NAME="${{ github.ref_name }}"
          elif [ "${EVENT_NAME}" == "pull_request" ]; then
            BRANCH_NAME="${{ github.head_ref }}"
          fi
          export BRANCH_NAME

          URL="https://raw.githubusercontent.com/shunk031/dotfiles/${BRANCH_NAME}/setup.sh"
          echo "Download setup.sh from ${URL}"

          printf "${EMAIL_ADDRESS}\n${SYSTEM}\n" | bash -c "$(wget -qO - $URL)"
          #              │               │
          #              │               └─ Simulate inputting an system arcitecture into the config.
          #              └─ Simulate inputting an email address into the config.

      - uses: jdx/mise-action@v3
        with:
          install: true
          cache: true

      # - name: Install latest bats-core
      #   run: |
      #     tmp_dir=$(mktemp -d /tmp/bats-core-XXXXX)
      #     git clone --depth 1 https://github.com/bats-core/bats-core.git "${tmp_dir}"
      #     cd "${tmp_dir}"
      #     sudo ./install.sh /usr/local
      #     rm -rf "${tmp_dir}"

      - name: Test file existence
        env:
          SYSTEM: ${{ matrix.system }}
        run: |
          cd $(chezmoi source-path)/../
          bats tests/files/common.bats
          bats --filter-tags common,ubuntu:${SYSTEM} \
            --print-output-on-failure \
            tests/files/ubuntu.bats
