name: Ubuntu

on:
  push:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'Makefile'
      - 'Dockerfile'
      - 'install/macos/**'
      - '.chezmoiscripts/macos/**'
      - 'dot_tmux.conf.d/os/macos.conf'
      - 'test/install/macos/**'
      
  pull_request:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'Makefile'
      - 'Dockerfile'
      - 'install/macos/**'
      - '.chezmoiscripts/macos/**'
      - 'dot_tmux.conf.d/os/macos.conf'
      - 'test/install/macos/**'

jobs:
  build:
    strategy:
      matrix:
        system: [server, client]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v1
      
      - name: Install chezomi
        run: sudo sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /usr/local/bin
      
      - name: Setup for chezmoi
        run: |
          mkdir -p "${HOME%/}/.local/share"

          src_dir="${HOME%/}/work/dotfiles/dotfiles"
          dst_dir="${HOME%/}/.local/share/chezmoi"
          ln -sfnv "${src_dir}" "${dst_dir}"
      
      - name: forget the encrypted files
        run: |
          # `age` requires a tty, but there is no tty in the github actions.
          # Therefore, it is currnetly difficult to decrypt the files encrypted with `age` in this workflow.
          # I decided to temporarily remove the encrypted target files from chezmoi's control.
          chezmoi forget --force ~/.ssh/age_test.txt.age

      - name: run chezmoi init
        env: 
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          SYSTEM: ${{ matrix.system }}
          DOTFILES_DEBUG: 1
        run: printf '${EMAIL_ADDRESS}\n${SYSTEM}\n' | chezmoi --no-tty init --apply
