name: Ubuntu

on:
  push:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'Makefile'
      - 'Dockerfile'
      - 'install/macos/**'
      - '.chezmoiscripts/macos/**'
      - 'dot_tmux.conf.d/os/macos.conf'
      - 'tests/install/macos/**'
      
  pull_request:
    branches: [master]
    paths-ignore:
      - 'README.md'
      - 'Makefile'
      - 'Dockerfile'
      - 'install/macos/**'
      - '.chezmoiscripts/macos/**'
      - 'dot_tmux.conf.d/os/macos.conf'
      - 'tests/install/macos/**'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    strategy:
      matrix:
        system: [server, client]

    runs-on: ubuntu-latest
    steps:
      - name: Setup dotfiles
        env:
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          SYSTEM: ${{ matrix.system }}
          DOTFILES_DEBUG: 1
          EVENT_NAME: ${{ github.event_name }}
        run: |
          if [ "${EVENT_NAME}" == "push" ]; then
            branch_name="${{ github.ref_name }}"
          elif [ "${EVENT_NAME}" == "pull_request" ]; then
            branch_name="${{ github.head_ref }}"
          fi

          URL="https://raw.githubusercontent.com/shunk031/dotfiles/${branch_name}/setup.sh"
          echo "Download setup.sh from ${URL}"

          printf '${EMAIL_ADDRESS}\n${SYSTEM}\n' | bash -c "$(wget -qO - $URL)"
          #              │               │
          #              │               └─ Simulate inputting an system arcitecture into the config.
          #              └─ Simulate inputting an email address into the config.
      
      - name: Run benchmark
        run: |
          $(chezmoi source-path)/../benchmarks/scripts/benchmark.sh > result.json

      - name: Dump result.json
        run: cat result.json
